<div class="col-md-offset-1"><h2>Editing User</h2></div>

<%= render 'form' %>

<%= link_to '<button class="col-md-offset-1 btn btn-default">Show</button>'.html_safe, @user %>
<%= link_to '<button class="col-md-offset-1 btn btn-default">Back</button>'.html_safe, users_path %>
