

<div class='form-group col-md-offset-1'><h1>Informations Utilisateurs</h1></div>

<div class='form-group col-md-offset-1'>
<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>
</div>

<%= link_to '<button class="col-md-offset-1 btn btn-default">Edit</button>'.html_safe, edit_user_path(@user) %>
<%= link_to '<button class="col-md-offset-1 btn btn-default">Back</button>'.html_safe, users_path %>
