<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour, <%= @user.prenom %></h1>
    <p>
      Une nouvelle annonce est apparue concernant l'une de vos recherches.<br>
    </p>
    <p>Merci de vous servir de notre solution!</p>
  </body>
</html>