<div class='col-md-offset-1'><h3>Editer Annonce</h3></div>

<%= render 'form' %>

<%= link_to '<button class="col-md-offset-1 btn btn-default">Show</button>'.html_safe, @annonce %> |
<%= link_to '<button class="btn btn-default">Back</button>'.html_safe, annonces_path %>
