<h1>Editing Annonce</h1>

<%= render 'form' %>

<%= link_to '<button class="btn btn-default">Show</button>'.html_safe, @annonce %> |
<%= link_to '<button class="btn btn-default">Back</button>'.html_safe, annonces_path %>
