

<div class='form-group col-md-offset-1'><h1>Informations Annonces</h1></div>

<div class='form-group col-md-offset-1'>
  <div class='field'>
    <strong>Titre:</strong>
    <%= @annonce.titre %>
  </div>

  <div class='field'>
    <strong>Url recherchee:</strong>
    <%= @annonce.urlRecherche %>
  </div>
</div>

<%= link_to '<button class="col-md-offset-1 btn btn-default">Edit</button>'.html_safe, edit_annonce_path(@annonce) %> |
<%= link_to '<button class="btn btn-default">Back</button>'.html_safe, annonces_path %>
