<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué à la suite d'un trop grand nombre d'échecs de connexion.</p>

<p>Cliquer sur le lien ci-après pour le dévérouiller :</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
